#craps-game {
    background-image: url("../images/casino.jpg");
    color: white;
    background-position: center;
}

.craps-game-title {
    text-align: center;
    margin-top: 40px;
}

.craps-game-container {
    width: min(70vw, 600px);
    height: min(57vw, 450px);
    border: solid white 2px;
    margin: 40px auto 0 auto;
    background-image: url("../images/craps-table.jpg");
    background-position: center top;
    background-size: cover;
}

#craps-registration-pane {
    margin-top: 25px;
    text-align: center;
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue {
    margin-top: 25px;
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
    
}

.craps-main-section-stats {
    text-align: center;
    margin-top: 15px;
}

#craps-stats-money-container {
    font-size: 30px;
    margin: 15px 0 5px 0;
}