
:root {
    --width-scale: min(70vw, 600px, 80vh);
    --height-scale: calc(var(--width-scale) * 0.714);
    --game-title-size: min(calc(var(--height-scale) * 0.1), 2em);
    --title-margin-bottom: calc(var(--height-scale) * 0.25);
}

#craps-game {
    background-image: url("../images/casino.jpg");
    background-position: center top;
    color: white;
    padding: 1px;
}


.craps-game-title {
    font-size: var(--game-title-size);
    text-align: center;
    margin-top: calc(calc(100vh - var(--game-title-size) - var(--title-margin-bottom) - var(--height-scale)) / 2);
    margin-bottom: var(--title-margin-bottom);

}

.craps-game-container {
    width: var(--width-scale);
    height: var(--height-scale);
    border: solid white 2px;
    margin: 0 auto;
    background-image: url("../images/craps-table.jpg");
    background-position: center top;
    background-size: cover;
}

#craps-registration-pane {
    margin-top: 55px;
    text-align: center;
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue {
    margin-top: 25px;
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
    
}

.craps-main-section-stats {
    text-align: center;
    margin-top: 15px;
}

#craps-stats-money-container {
    font-size: 30px;
    margin: 15px 0 5px 0;
}