:root{
    --titleSectionPrimaryColor: white;
    --titleSectionSecondaryColor: #6D96AE;
}


#title{
    color: var(--titleSectionPrimaryColor);
    text-align: center;
    padding-top: 200px;
    background-image: url("../images/liveAr.jpg");
    background-position: center top;
}

.title-section-button{
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: transparent;
}
button:hover {
    background-color: var(--titleSectionPrimaryColor);
    color: var(--titleSectionSecondaryColor);
    cursor: pointer;
}
